[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qrcodegen = "*"
qrcode = {extras = ["pil"], version = "*"}
pyzxing = "*"
pyzbar = {extras = ["scripts"], version = "*"}
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
