[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qrcode = {extras = ["pil"], version = "*"}
numpy = "*"
opencv-python = "*"
six = "*"
python-dateutil = "*"
reedsolo = "*"
requests = "*"
flask = "*"
jsonpickle = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
