[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qrcode = {extras = ["pil"], version = "*"}
pyzxing = "*"
pyzbar = {extras = ["scripts"], version = "*"}
numpy = "*"
opencv-python = "*"
six = "*"
python-dateutil = "*"
reedsolo = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
